  *{margin: 0;}
  .main {
    padding: 5px 15px;
    background-color: red;
    height: 35px;
    color: white;
    font-weight: 700;
}
.container{
  margin: 0% auto;
  max-width: 1280px;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 600;
}
.section{
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
}
.section-content{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.section h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}
.section p{
  color: var(--gray);
  font-weight: 600;
  max-width: 400px;
}
.main-btn{
  display: flex;
  gap: 40px;
}
.main-btn button {
  font-size: 22px;
}
.secondary-btn{
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping p{
     font-size: 14px;
     margin-bottom: 8px;
}
.brand-icons{
  display: flex;
  gap: 16px;
}
.btn{
  background-color: red;
  color: white;
  /* font-size: 10px; */
}